
Body{
  background-color: #E6EBE0;
}

.jumbotron{
  background-color: #2E5266;
  color: #E6EBE0;
  font-family: pacifico;
}

.jumbotron h1{
  font-size: 72px;
  font-family: comfortaa;
}

.panel h3{
  color: #818AA3;
  font-family: comfortaa;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #2E5266;
  color:#E6EBE0;
  font-family: comfortaa;
}

li a{
  text-decoration: none!important;
  color: #2E5266;
  font-family: pacifico;
}

li a:hover{
  border-bottom: 2px solid #ED6A5A;
}

.panel, p, ul {
  font-family: comfortaa;
  color: #090C08;
}
.panel-heading, h2, .header {
  font-size: 32px;
  font-weight: bold;
}


.about {
  max-width :20%;
  margin-top: -7em;
  margin-right: 4em;
  float:left;
  border-radius: 15px 50px 30px;
}

.well {
  padding:75px;
  margin-top: 4em;
}
